body {
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url("drum-bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.flex-container{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    width: 450px;
    height: auto;
    margin: auto;
    background: rgba(0,0,0,0.5);
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.key{
    margin: 5px;
    text-align: center;
    background-color: pink;
    transition: all 0.07s;
    width: 75px;
    height: 75px;
    border: solid maroon 2px;
    background: rgba(50,0,0,0.6);
}
.playing{
    border-color: yellow ;
    transform: scale(1.2);
    box-shadow: 0 0 1rem #ffc600;
}
kbd {
    font-size: 36px;
    margin: 20px;
    font-family: fantasy;
}
.sound{
    font-size: 12px;
    padding: 10px;
}
